
body {
    text-align: center;
    font-family: "Lucida Sans", sans-serif;
    background-color: rgba(255, 0, 0, 0.3); 

}
h1 {
    color: #ffffff;
}

img {
    width: 50%;
    height: auto;
  }

.footer {
    bottom: 0%;
    position: fixed;
    color: #ffffff;
    font-size: 8px;
}
